.formula {
  display: flex;
  justify-content: center;
  align-items: center;

  & > span {
    margin-right: 12px;
  }
}

.explanation {
  background-color: white;
  border: 1px solid fade(black, 25%);
  margin: 12px 0;
  padding: 12px;
  text-align: center;
}
