container_commands:
    01_venv:
        command: "sudo python3 -m venv /opt/certbot/"
        test: "! command -v certbot &> /dev/null"
    02_pip:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
        test: "! command -v certbot &> /dev/null"
    03_install:
        command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
        test: "! command -v certbot &> /dev/null"
    04_link:
        command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        test: "! command -v certbot &> /dev/null"
