container_commands:
    00_download_epel:
        command: "sudo wget -r --no-parent -A 'epel-release-*.rpm' http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/"
        test: "! command -v certbot &> /dev/null && ! rpm -q epel-release &> /dev/null"
    10_install_epel_release:
        command: "sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm"
        test: "! command -v certbot &> /dev/null && ! rpm -q epel-release &> /dev/null"
    20_enable_epel:
        command: "sudo yum-config-manager --enable epel*"
        test: "! command -v certbot &> /dev/null"
    30_install_certbot:
        command: "sudo yum install -y certbot python2-certbot-nginx"
        test: "! command -v certbot &> /dev/null"
