@import (reference) "common.less";

.container {
  background-color: #d9d9d9;
  padding: 12px;
  padding-bottom: 24px;

  h4 {
    .block-title();
    margin-top: 0;
    margin-bottom: 8px;
  }

  .buttons {
    margin-left: auto;
    & > * {
      margin-right: 12px;
    }
  }
}

.autocomplete {
  :global(.ant-form-item-control-input) {
    min-width: 180px;
  }
}

.export-block {
  span {
    margin-right: 12px;
  }

  strong {
    color: @text-red;
  }
}
