.syntax {
  display: flex;
  flex-wrap: wrap;
  ul {
    display: flex;

    li {
      padding: 0;
      margin-right: 4px;
    }
  }
}

.placeholder {
  min-height: 44px;
  margin-bottom: 1em;
  text-align: center;
}

.extra-options {
  margin-bottom: 24px;

  :global(.ant-form-item) {
    margin-bottom: 12px;
  }

  :global(.ant-collapse-content-box) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.inlined {
  display: flex;

  & > * {
    margin-right: 24px;
  }
}
